* {
    all: unset;
}

#clipbar-root {
    background-color: var(--background-blur-no-active);
    padding: 8px;
}

#clipbar-item {
    background-color: var(--background-blur-no-active);
    border-radius: 5px;
    padding: 8px;
}

#clipbar-item.suggested-action {
    background-color: var(--inverse-primary);
    border: 2px solid var(--primary);
}

#clipbar-thumb {
    margin: 0;
}

#clipbar-text {
    color: #e0e0e0;
    font-size: 14px;
    font-weight: bold;
}

.clipbar-row-padding {
    padding: 5px 5px;
}

.clipbar-search {
    background-color: var(--background-blur-no-active);
    border: 2px solid var(--primary);
    padding: 6px;
    border-radius: 5px;
}

#clipbar-count {
    color: #e0e0e0;
    font-size: 16px;
    font-weight: bold;
    margin-right: 8px;
}

#clipbar-clear {
    border: 2px solid var(--on-error);
    border-radius: 5px;
}

#clipbar-clear:hover {
    background-color: var(--error-container);
    border-radius: 5px;
}