:vars {
  --background-blur-no-active: rgba(17, 19, 24, 0.2);
  --background-blur-active: rgba(17, 19, 24, 0.5);
  --foreground: #e2e2e9;
  --background: #111318;
  --cursor: #e2e2e9;
  --primary: #adc6ff;
  --on-primary: #102f60;
  --secondary: #bfc6dc;
  --on-secondary: #293041;
  --tertiary: #debcdf;
  --on-tertiary: #402843;
  --surface: #111318;
  --surface-bright: #37393e;
  --error: #ffb4ab;
  --error-dim: #ff8678;
  --on-error: #690005;
  --error-container: #93000a;
  --outline: #8e9099;
  --shadow: #000000;
}