:vars {
  --background-blur-no-active: rgba(16, 20, 24, 0.2);
  --background-blur-active: rgba(16, 20, 24, 0.5);
  --foreground: #e0e2e8;
  --background: #101418;
  --cursor: #e0e2e8;
  --primary: #99ccfa;
  --on-primary: #003351;
  --secondary: #b8c8da;
  --on-secondary: #23323f;
  --tertiary: #d1bfe7;
  --on-tertiary: #372a4a;
  --surface: #101418;
  --surface-bright: #36393e;
  --error: #ffb4ab;
  --error-dim: #000000;
  --on-error: #690005;
  --error-container: #93000a;
  --outline: #8c9198;
  --shadow: #000000;
  --inverse-primary: #2c638b;
}
