:vars {
  --background-blur-no-active: rgba(15, 20, 23, 0.2);
  --background-blur-active: rgba(15, 20, 23, 0.5);
  --foreground: #dee3e6;
  --background: #0f1417;
  --cursor: #dee3e6;
  --primary: #89d0ee;
  --on-primary: #003545;
  --secondary: #b4cad5;
  --on-secondary: #1e333c;
  --tertiary: #c4c3ea;
  --on-tertiary: #2d2d4d;
  --surface: #0f1417;
  --surface-bright: #353a3d;
  --error: #ffb4ab;
  --error-dim: #ff8678;
  --on-error: #690005;
  --error-container: #93000a;
  --outline: #8a9296;
  --shadow: #000000;
  --inverse-primary: #0d6680;
}