:vars {
  --background-blur-no-active: rgba(20, 20, 12, 0.2);
  --background-blur-active: rgba(20, 20, 12, 0.5);
  --foreground: #e7e2d5;
  --background: #14140c;
  --cursor: #e7e2d5;
  --primary: #d0c973;
  --on-primary: #353200;
  --secondary: #ccc8a3;
  --on-secondary: #333118;
  --tertiary: #a5d0ba;
  --on-tertiary: #0e3728;
  --surface: #14140c;
  --surface-bright: #3b3930;
  --error: #ffb4ab;
  --error-dim: #ff8678;
  --on-error: #690005;
  --error-container: #93000a;
  --outline: #949181;
  --shadow: #000000;
}