#launcher-root {
    background-color: var(--background-blur-no-active);
    border: 2px solid var(--primary);
    border-radius: 6px;
}

#launcher-search {
    background-color: var(--background-blur-no-active);
    border-radius: 6px;
    padding: 5px 10px;
    color: var(--foreground);
    font-size: 19px;
    font-weight: bold;
}

#launcher-scroll {
    padding: 6px;
}

#launcher-item {
    background-color: var(--background-blur-no-active);
    border-radius: 6px;
    padding: 6px;
}

#launcher-item:hover {
    background-color: var(--inverse-primary);
}

#launcher-item.launcher-item-selected {
    background-color: var(--inverse-primary);
}

#launcher-item-title {
    color: var(--foreground);
    font-size: 15px;
    font-weight: bold;
}

#launcher-empty {
    font-size: 19px;
    font-weight: bold;
    color: var(--foreground);
}
