#power-menu {
  background-color: var(--background-blur-no-active);
  padding: 20px;
  border-radius: 10px;
  /* border: 1px solid var(--surface-bright); */
  border: 2px solid var(--primary);
}

#power-menu-button {
  font-family: 'Ubuntu Nerd Font Propo';
  font-size: 46px;
  color: var(--on-surface);
  text-shadow: 0 1px 2px var(--shadow);
  background-color: var(--background-blur-no-active);
  border-radius: 8px;
  padding: 10px;
  border: 2px solid transparent;
  box-shadow: var(--surface-bright) -1px -1px 3px -1px, var(--surface-bright) 1px 1px 3px -1px;
  min-width: 68px;
  min-height: 68px;
}

#power-menu-button:hover {
  background-color: var(--background-blur-active);
  border-color: var(--inverse-primary);
}

#power-menu-button:focus, #power-menu-button:focus-within, #power-menu-button.suggested-action {
  border-color: var(--primary);
  background-color: var(--inverse-primary);
}
